<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>
      Home
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-slides [centeredSlides]="true" [initialSlide]=1 (ionSlideDidChange)="slideChanged()">
    <ion-slide *ngFor="let slide of calendarSlides">
      <calendar [date]="slide.date" [slides]="slides" (dayChange)="onDayChange($event)"></calendar>
    </ion-slide>
    <!-- <ion-slide>
      <calendar [date]="prevDate" [slides]="slides"></calendar>
    </ion-slide>
    <ion-slide>
      <calendar [date]="date" [slides]="slides"></calendar>
    </ion-slide>
    <ion-slide>
      <calendar [date]="nextDate" [slides]="slides"></calendar>
    </ion-slide> -->
  </ion-slides>

  <div *ngIf="moodsToday && averageMood()">
    <h6 padding ion-text>Average Mood: {{ moodsToday? averageMood() : 0 }}</h6>
  </div>


  <ion-card *ngFor="let mood of moodsToday" (click)="goToMood(mood)">
    <ion-card-header>

    </ion-card-header>
    <ion-card-content>

      <ion-list>
        <ion-item>
          <ion-note item-end>
            <ion-icon name="time"></ion-icon>
            {{ mood.beginTime | date: "hh:mm aaa" | lowercase }} - {{ mood.endTime | date: "hh:mm aa" | lowercase }}
          </ion-note>
        </ion-item>
        <ion-item>
          <ion-icon name="locate"></ion-icon>
          {{ mood.locationName }}
        </ion-item>
        <!-- <ion-item>
          <ion-icon name="cloud"></ion-icon>
          {{ mood.weather }}
        </ion-item> -->
        <ion-row>
          <ion-col>
            <ion-icon name="happy"></ion-icon>
            {{ mood.mood }}
          </ion-col>
          <ion-col>
            <ion-icon name="people"></ion-icon>
            {{ mood.people.length }}
          </ion-col>
        </ion-row>
        <!-- <ion-item>
          <ion-icon name="happy"></ion-icon>
          {{ mood.mood }}
        </ion-item>
        <ion-item>
          <ion-icon name="people"></ion-icon>
          {{ mood.people.length }}
        </ion-item> -->
      </ion-list>
    </ion-card-content>
  </ion-card>


  <ion-fab bottom right>
    <button ion-fab color="primary" (click)="addMood()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>


</ion-content>
