
@import "../../theme/variables.scss";

$calendar-colors: (
  primary: #89AAE6,
  text-dark: #061826,
  text-light: #FFFBFE,
  text-muted: #B4BABE
);

$mood-colors: (
  high: #E7B2FF,
  medium-high: #54FEFB,
  medium: #89FFCB,
  medium-low: #6BC9C9,
  low: #0172B9
);

calendar {
    .calendar-body {
        .mood_low {
          background: map-get($mood-colors, low) !important;
        }

        .mood_medium-low {
          background: map-get($mood-colors, medium-low) !important;
        }

        .mood_medium {
          background: map-get($mood-colors, medium) !important;
        }

        .mood_medium-high {
          background: map-get($mood-colors, medium-high) !important;
        }

        .mood_high {
          background: map-get($mood-colors, high) !important;
        }

        .day {
            color: map-get($calendar-colors, text-dark);
            background: white;

            &:hover {
                color: map-get($calendar-colors, text-light);
                background: map-get($calendar-colors, primary);
            }
        }

        .day_active-day {
            color: map-get($calendar-colors, text-light);
            background-color: map-get($calendar-colors, primary);

            &:hover {
                color: map-get($calendar-colors, text-light);
                background: map-get($calendar-colors, primary);
            }
        }

        .day_active-month {

        }

        .day_inactive {
            color: map-get($calendar-colors, text-muted);
        }
    }

}
