<!-- Generated template for the CalendarComponent component -->
<div class="calendar-header">
  <ion-row class="calendar-month">
    <ion-col col-2 (click)="goToPrevMonth()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-col>
    <ion-col col-8>{{ month }} {{ year }}</ion-col>
    <ion-col col-2 (click)="goToNextMonth()">
      <ion-icon name="arrow-forward"></ion-icon>
    </ion-col>
  </ion-row>
</div>
<div class="calendar-body">
  <ion-grid>
    <ion-row class="calendar-header">
      <ion-col *ngFor="let date of calendarHeaderRow" class="calendar-header">
        {{date?.format("ddd")}}
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let week of calendarRowIndices">
      <ion-col *ngFor="let day of calendarColIndices">
        <button *ngIf="getDateFromIndex(week, day).month() == this.date.month()" ion-button clear round color="primary">
          {{getDateFromIndex(week, day).date()}}
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
